

<div  class="container">
  <div class="col-md-7 col-md-offset-2">
    <p class="h1">Giới thiệu về trang web: </p>
    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</p>
  </div><!--/.col-sm-6-->


  <div class="col-md-8 col-md-offset-2" >
    <div>
      <p class="h2">Meet the Team</p>
      <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
    </div>
    <div  class="row">
      <div class="col-xs-6 col-md-4">
        <div class="center">
          <p><img class="img-responsive img-thumbnail img-circle" src="images/team-member.jpg" alt="" ></p>
          <h5>Nguyễn Thị Dung  <small class="designation muted">Leader</small></h5>
          <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor.</p>
          <a class="btn btn-social btn-facebook" href="#"><i class="icon-facebook"></i></a> <a class="btn btn-social btn-google-plus" href="#"><i class="icon-google-plus"></i></a> <a class="btn btn-social btn-twitter" href="#"><i class="icon-twitter"></i></a> <a class="btn btn-social btn-linkedin" href="#"><i class="icon-linkedin"></i></a>
        </div>
      </div>

      <div class="col-xs-6 col-md-4">
        <div class="center">
          <p><img class="img-responsive img-thumbnail img-circle" src="images/team-member.jpg" alt="" ></p>
          <h5>Trần Việt Anh  <small class="designation muted">Member</small></h5>
          <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor.</p>
          <a class="btn btn-social btn-facebook" href="#"><i class="icon-facebook"></i></a> <a class="btn btn-social btn-google-plus" href="#"><i class="icon-google-plus"></i></a> <a class="btn btn-social btn-twitter" href="#"><i class="icon-twitter"></i></a> <a class="btn btn-social btn-linkedin" href="#"><i class="icon-linkedin"></i></a>
        </div>
      </div>
      <div class="col-xs-6 col-md-4">
        <div class="center">
          <p><img class="img-responsive img-thumbnail img-circle" src="images/team-member.jpg" alt="" ></p>
          <h5>Nguyễn Trung Đức <small class="designation muted">Member</small></h5>
          <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor.</p>
          <a class="btn btn-social btn-facebook" href="#"><i class="icon-facebook"></i></a> <a class="btn btn-social btn-google-plus" href="#"><i class="icon-google-plus"></i></a> <a class="btn btn-social btn-twitter" href="#"><i class="icon-twitter"></i></a> <a class="btn btn-social btn-linkedin" href="#"><i class="icon-linkedin"></i></a>
        </div>
      </div>
      <div class="col-xs-6 col-md-offset-0">
        <div class="center">
          <p><img class="img-responsive img-thumbnail img-circle" src="images/team-member.jpg" alt="" ></p>
          <h5>Trịnh Khương Duy  <small class="designation muted">Member</small></h5>
          <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor.</p>
          <a class="btn btn-social btn-facebook" href="#"><i class="icon-facebook"></i></a> <a class="btn btn-social btn-google-plus" href="#"><i class="icon-google-plus"></i></a> <a class="btn btn-social btn-twitter" href="#"><i class="icon-twitter"></i></a> <a class="btn btn-social btn-linkedin" href="#"><i class="icon-linkedin"></i></a>
        </div>
      </div>
      <div class="col-xs-6 col-md-4">
        <div class="center">
          <p><img class="img-responsive img-thumbnail img-circle" src="images/team-member.jpg" alt="" ></p>
          <h5>Nguyễn Thị Lan Hương  <small class="designation muted">Member</small></h5>
          <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor.</p>
          <a class="btn btn-social btn-facebook" href="#"><i class="icon-facebook"></i></a> <a class="btn btn-social btn-google-plus" href="#"><i class="icon-google-plus"></i></a> <a class="btn btn-social btn-twitter" href="#"><i class="icon-twitter"></i></a> <a class="btn btn-social btn-linkedin" href="#"><i class="icon-linkedin"></i></a>
        </div>
      </div>
    </div><!--/#meet-the-team-->
  </div>
</div><!--/#about-us-->
</div><!--/#about-us-->