<div id="contact" class="col-md-8 col-md-offset-0">
  <p class="h2">Liên hệ với chúng tôi: </p><br>
  <p class="h4">Lớp 1C11 Khoa Công Nghệ Thông Tin, ĐH Hà Nội
    <br><br>Km9 Nguyễn Trãi, Thanh Xuân, Hà Nội
    <br><br>Email: <a href="mailto: DHAplus@gmail.com" target="top"> DHAplus@gmail.com</a></p>
</div>