<footer id="footer" class="midnight-blue">
  <div class="container">

      <div class="col-sm-6">
        <h3> &copy; 2014 <a target="_blank" href="http://shapebootstrap.net/" title="Free Twitter Bootstrap WordPress Themes and HTML templates">ShapeBootstrap</a>. All Rights Reserved.</h3>
      </div>
      <div class="col-sm-6">
        <ul class="pull-right">
          <li><h3><%= link_to "Trang chủ",home_index_path%></h3></li>
          <li><h3><%= link_to "Chúng tôi",home_about_path%></h3></li>
          <li><h3><%= link_to "Liên hệ",home_lienhe_path%></h3></li>
        </ul>
    </div>
  </div>
</footer><!--/#footer-->